$fuentePrincipal: 'Inter Variable', sans-serif;

// Tamaño de Media Queries
$telefonoXs: 440px;
$telefono: 440px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$negro: #000000;

$blanco: #FFFFFF;
$gris: #e1e1e1;
$grisOscuro: #333333;
$azul: rgb(39, 39, 204);
$azulOscuro: rgb(13, 11, 36);
$violeta: rgb(189, 8, 189);
$rosa: rgb(221, 28, 176);
$rosaVioleta: rgb(131, 28, 221);


