@use '../base/variables' as v;
@use '../base/mixins' as m;
.certificados{
    background-color:v.$azulOscuro;
    padding-top: 3rem;
    padding-bottom: 8rem;
    .h2-title{
        font-size: 3rem;
        /** TEXT GRADIENT */
        color: #6e67f5;
        background-image: -webkit-linear-gradient(45deg, #6e67f5 0%, #67e2f5 33%, #6e67f5 67%);
        background-clip: text;
        -webkit-background-clip: text;
        text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
    
        @include m.tablet{
            font-size: 4.5rem;
        }
        @include m.desktop{
            font-size: 5rem;
        }
    }
}

.container-certificados{
    max-width: 89%;
    margin: 0 auto;
}

.container-datos-certificados{
    display: grid;
   row-gap: 5rem;
    max-width: 90%;
    margin: 0 auto;
    @include m.tablet{
        grid-template-columns: repeat(3,1fr);
        column-gap: 5rem;
    }
}

.certificado{
    text-align: center;
    position: relative;
    max-height: 320px ;
}

.container-titulo-certificado{
    h2{
        color: white;
        font-weight: 700;
    }
}
.container-imagen-certificado{
    width: 100% ;
    border-radius: 35px;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    picture{
        height: 100%;
    }
   
    img { 
        border-radius: 35px;
        overflow: hidden;
        height: fit-content;
        object-fit: cover;
        transition: transform .2s ease-in;
        @include m.tablet{
      
            height: 100%;
        }
    &:hover{
        cursor: pointer;
        transform: scale(1.025);
    }
    }


} 

.fixed-img{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 100%;
    z-index: 1000;
    animation: none;
    display: grid;
    place-content: center;
    box-shadow: none;
    z-index: 100000;
    background-color: v.$negroTransparente;
    overflow-y: scroll;
    padding: 0 2rem;
 
    @include m.tablet{
        place-items: center;
        place-content:initial;
        padding: 0;
        img{
            margin: 0 auto;
            width: 60%;
            transition: all .5s ease-in-out;
            
    
        } 
    }

}