@use '../base/variables' as v;
@use '../base/mixins' as m;
.contact{
    background-color: white;
    padding: 2rem 0;
    -webkit-box-shadow: 0px 1px 5px 0px rgb(167, 167, 167);
            -moz-box-shadow: 0px 1px 5px 0px rgb(167, 167, 167);
          box-shadow: 0px 1px 5px 0px rgb(167, 167, 167);
}
.contact h2{
    font-size: 3rem;
    color: var(--rosaFuerte);
    text-align: center;
}

.form{
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    place-items: center;
    column-gap: 3rem;
    row-gap: 2rem;
}

@media(min-width:1024px){
    .form{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        max-width: 600px;
    }

}

.form div{
    width: 100%;
}
.container-subject{
    grid-column: 1/3;
}
.container-msg{
    grid-column: 1/3;
}
.container-msg textarea{
    width: 100%;
}
.form label{
    display: block;
    margin: .6rem 0;
    color: black;
}
sup{
    color: red;
}
.form input:not([type="submit"]){
    width: 100%;
    height: 46px;
    border-radius: 10px;
    outline: none;
    border: none;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(199,199,199,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(199,199,199,1);
    box-shadow: 0px 2px 5px 0px rgba(199,199,199,1);
    padding: 0 1rem;
    font-size: 1rem;
}
.form select{
    width: 100%;
    height: 46px;
    border-radius: 10px;
    outline: none;
    border: none;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(199,199,199,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(199,199,199,1);
    box-shadow: 0px 2px 5px 0px rgba(199,199,199,1);
    padding: 0 1rem;
    font-size: 1rem;
    background-color: transparent;
}
.form input:not([type="submit"]):hover{
    background-color: #0075fc2d
}

.container-submit{
    grid-column: 1/3;
    text-align: center;
}

.form input[type="submit"]{
    padding: 1rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    transition: .5s all;
    width: 220px;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.801);
    border: none;
}

.form input[type="submit"]:hover{
    background-color: black;
    cursor: pointer;

}

textarea{
    font-size: 1rem;
    padding: 1rem 1rem;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(199,199,199,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(199,199,199,1);
    box-shadow: 0px 2px 5px 0px rgba(199,199,199,1);
    border: none;
    outline: none;

}
