@use '../base/mixins.scss' as m;

.header {
    position: relative;

}

.contenidog-header {
    position: absolute;

    .contenido-header {
        z-index: 10;
        position: relative;
    }



}

.contenidog-header {
    height: 100%;
    width: 100%;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include m.desktop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }


    .header-text {
        max-width: 600px;
        text-align: center;
        padding: 0 1rem;
        @include m.desktop {
            text-align: left;
        }

        h2 {
            line-height: 5rem;
            margin: 0;
            color: white;
            font-size: 3rem;
            font-weight: 900;
            white-space: normal;

            span:nth-child(4){
                font-size: 3.6rem;
               
                @include m.telefono{
                    font-size: 6.1rem;
                }
                @include m.desktop{
                    font-size: 9rem;
                }
            }

            span:nth-child(3) {
                color: rgb(56, 196, 243);
                animation: parpadeoNombre 2s linear infinite;
                font-size: 3rem;

                @include m.tablet{
                    font-size: 5rem;
                 }

                @include m.desktop{
                    font-size: 9rem;
                }

            }
           

            @include m.tablet{
                font-size: 5rem;
                line-height: 7rem;
            }

            @include m.desktop {
                font-size: 8rem;
                font-weight: 800;
                line-height: 9rem;
            }


        }


    }

    .imagen-personal {
        width: 200px;

        img {
            border-radius: 50%;
        }

        @include m.desktop {
            width: 300px;
        }
    }

    p {
        color: white;
        font-weight: 700;
        padding: 0 .5rem;
    }
}

.header_img {
    background-image: url('/build/img/imgprogramacion.jpg');
    background-image: url('/build/img/imgprogramacion.webp');
    background-size: cover;
    height: 950px;


}

.bienvenida {
    font-size: 2rem;
    line-height: 3rem !important;
    padding: 0 .5rem;
    display: block;
    animation: none;
}

@keyframes parpadeoNombre {

    0%,
    10%,
    15%,
    20%,
    35%,
    40%,
    50%,
    55%,
    58%,
    59% {
        opacity: 1;
    }

    30%,
    45%,
    0%,
    90%,
    100% {
        opacity: 0;
    }
}