@use '../base/mixins' as m;



.contenido-navegacion{
    width: 100%;

    height: 100%;
    @include m.desktop{
        position: absolute;
    }
   

}

/*NAVEGACION*/
    .navegacion{
        position: fixed;
        transition: all .5s ease-in-out;
        background-color: #1c1c1cc8;
        visibility: hidden;
        min-width: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        z-index: 100;
        a{
            color: white;
            font-weight: 600;
            padding: 1rem 0;
            letter-spacing: .5px;
            font-size: 20px;
        }
        .lista-nav{
            text-align: center;
            padding: 0;
            li{
                list-style: none;
                padding: 0;
            }
        }
        &.visible{
            visibility: visible;
            opacity: 1;
             min-width: 100%;
             z-index: 10000;

             transition: all .5s ease-in-out;
             @include m.tablet{
                min-width: 300px;

             }
          }
    }

  
    
   


.toggle{
    z-index: 10000;
    position: fixed;
    top: 5%;
    left: 3%;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 25px;
    filter: drop-shadow(1px 1px 1px black);
   &:hover{
    cursor: pointer;
   }
   &.novisible{
    visibility: hidden;
   }
  
}
.close{
    position: absolute;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 25px;
    top: 5%;
    left: 85%;

    &:hover{
        cursor: pointer;
       }
      
   }



   //DARK MODE BTN



   .btn-dark{
    position: absolute;
    top: 5.5%;
    left: 10%;
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: white;
    &:hover{
        cursor: pointer;
        color:black;
       text-shadow: -1px 0px 5px rgba(164, 164, 164, 0.872);
    }
   }


