@use '../base/variables' as v;
@use '../base/mixins' as m;

.proyectos {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(176,176,176,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(176,176,176,1);
    box-shadow: 0px 0px 5px 0px rgba(176,176,176,1);
    padding: 0;

    @include m.tablet {
        padding: 3rem 0;
    }
    

}

.proyecto {
    display: grid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 30px;
    transition: transform .2s ease-in-out;

    margin: 1rem auto;
    width: 76%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(176, 176, 176, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(176, 176, 176, 1);
    box-shadow: 0px 0px 5px 0px rgba(176, 176, 176, 1);

    .img-proyecto {
        max-height: 245px;

        min-height: 244px;
        height: 100%;
        width: 100%;

        picture {
            height: 100%;
        }

        img {
            border-top-left-radius: 20px;
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    &:hover {
        transform: scale(1.050);
    }

    @include m.tablet{
        width: 76%;
    }
}

.contenedorg-proyectos {
    h2 {
        text-align: center;
    }

}

.contenedor-proyectos {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include m.tablet {
        @include m.grid(3, 1fr);
        column-gap: 2rem;
    }



}


.titulo-proyecto {
    padding: 0rem 2rem;

    h3 {
        font-size: 2.4rem;
        text-align: left;
        margin-bottom: 0;
        font-weight: 600;
        color: black !important;

        a {
            color: rgba(0, 0, 0, 0.856);

        }

    }

}

// .contenedor-ver{
//     padding: 1.5rem 0;
//     border-bottom-right-radius: 20px;
//     height: 100%;
//     text-align: center;
//     a{ 

//         color: white;
//         font-size: 14px;
//     }


// }

.contenedor-ver {
    background-color: rgba(5, 0, 5, 0.918);

}

.texto-proyecto {
    padding: 0rem 2rem;


    height: 100px;
    overflow: hidden;

    p {
        font-size: 11px;
        margin: 0;

        text-align: left;

        @include m.desktop {
            font-size: 15px;

            font-size: 13px;
        }

    }
}

.container-descripcionbtn {

    padding: 0 1.5rem;
    width: 100%;
    height: 50px;

    .descripcion-button {
        font-size: 1.2rem;
        border: none;
        background-color: transparent;

        &:hover {
            cursor: pointer;
        }
    }
}
.container {
  position: relative;
  background: #2c3e50;
  height: 20vh;
}

