 @use '../base/mixins' as m;
// .tecnologias{

  
//     h2{
//         text-align: center;
//         font-size: 4.5rem;
//         font-weight: 700;
//         text-transform: capitalize;
//         margin: 0;
    
//     }
//     .contenedor-vermas{
//          margin: 7rem 0 0 0;  
//         text-align: center;
//         a{

//             @include m.tablet{
//                 padding: 1.4rem 2.5rem;
//             }
//             color: black;
//              padding: 1.2rem 2.2rem;
//              font-size: 13px;

//             border-bottom: 2px solid #070707;
            
//             color: black;

//             &:hover{
//                 background-color: #070707;
//                 transition: all .5s;
//                 color: white;
//                 font-size: 1.4rem;
//             }
          
//         }
        
//     }
  
// }




// .contenedor-tecnologias{
//     height: 100%;
//     padding: 0 5rem;
//     display: flex;
//     flex-direction: column;
//     width: 100%;
  

//     justify-content: center;
//     @include m.desktop{
      
//         column-gap: 4rem;
//         row-gap: 2rem;

//     }
 

//     div:nth-of-type(3){
//         border-radius: 20px;
//     }
  

// }

// .containerg-categorias{
//     height: 100%;
//     margin: 2rem 0;
//     h3{
//         margin: 0;
//         @include m.tablet{
//             font-size: 18px;
//         }
//         font-size: 15px;
//         -webkit-box-shadow: 0px 1px 5px 0px rgba(245,242,245,1);
//         -moz-box-shadow: 0px 1px 5px 0px rgba(245,242,245,1);
//         box-shadow: 0px 1px 5px 0px rgba(245,242,245,1);
//         padding: .5rem 0;
//     }
//     .container-categorias{
//         height: 100%;
//         width: 100%;
//         display: grid;
//         display: flex;
//         flex-direction: row;
//         flex-wrap: wrap;
//         @include m.tablet{
         
//             display: grid;
//             grid-template-columns: repeat(5,1fr);
//         }
       
//     }

// }

// .container-categorias{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     column-gap: 2rem;
//     height: 214px;

//   @include m.tablet{
//     display: grid;
//     grid-template-columns: repeat(5,1fr);
//     place-items: center;
//   }
    
// }



// //CONTENEDOR IMAGENES
// .logos{
//     width: 100px;

//     margin: 3rem auto;

//     @include m.tablet{
     
//     }
//     &:hover{
//         transform: rotate(10deg) scale(1);
    
//         transition: transform .8s;
//         cursor: pointer;
//     }
//     img{
//         border-radius: 10px;
// }
// }
// .logos h2{
//     margin: 0;
//     height: 10px;
//     font-size: 25px;
//     font-weight: 800;
// }

// .logos{
   
//     &.js{
//         width: 220px;
//        h2{
//         height: 50px;
//        }
//     }
//     &.BT{
//         h2{
//             height: 90px;
//         }
//     }
//     &.gulp{
//         width: 70px;
//     }
// }

// .tecnologias-title {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
//     img{
//         width: 30px;
//     }
    
  
// }

// .contenedor-tecnologias {
//     height: 100%;
//     &.index{
//         display: flex;
//         flex-direction: row;
//         .logos{
//             width: 200px;
//         }
//     }
  
// }

.skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  padding: 0;
    @include m.tablet{
  
        display: grid;
        column-gap: -4rem;
        place-items: center;
        place-content: center;
        grid-template-columns: repeat(6,1fr);
        row-gap: 2rem;
    }

    @include m.desktop{
        display: grid;
        place-items: center;
 

    }
    @include m.desktopXL{
       
            display: grid;
            place-items: left;
     
    
               max-width: 600px;
    }
}

.logo{
    width: 48px;
    display: flex;
    align-items: center;
    margin: 1rem .5rem;

    @include m.tablet{
        margin:0
    }

}

.GulpJS{
    width: 24px;
    margin-left: 1rem;
}